header {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  max-height: 100px;
}
header img {
  max-width: 250px;
}
header .foto {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-left: 2rem;
}
header .logo {
  margin-top: 1rem;
  margin-left: 1rem;
}
header nav {
  width: 30%;
}
header nav .navbar-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
header nav span {
  display: none;
  position: absolute;
  padding: 1rem;
  border-radius: 20px;
}
header nav span i {
  font-size: x-large;
}
header nav a {
  font-size: larger;
  text-decoration: underline rgba(0, 0, 0, 0);
  text-underline-offset: 0px;
  color: #051E44;
}
header nav a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
  color: #b91212;
  transition: all 250ms linear;
}

#home, #info {
  background-color: #051E44;
  color: #FFFFFF;
  text-align: center;
  margin-top: -20px;
}

#projets {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
#projets article {
  border: 2px solid rgba(255, 255, 255, 0.7254901961);
  width: 100%;
  border-radius: 20px;
  padding: 1rem;
  color: #051E44;
  background-color: #ECECEC;
  animation: faded 300ms ease-in;
}
#projets article .card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
#projets article .card-wrapper .card {
  position: relative;
  background-color: #051E44;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, 0.2);
  border: 1px solid rgba(5, 30, 68, 0.537254902);
  border-radius: 20px;
  max-width: 500px;
  opacity: 0;
  animation: faded 250ms ease-in-out forwards;
  scale: 0.96;
}
#projets article .card-wrapper .card a {
  color: #051E44;
  text-decoration: none;
}
#projets article .card-wrapper .card a .background-image {
  border-radius: 0 0 20px 20px;
  height: 18rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
#projets article .card-wrapper .card h3 {
  margin: 0.5rem;
  color: white;
}
#projets article .card-wrapper .card:hover {
  scale: 1;
  background-color: #25406D;
  transition: scale 200ms ease-in, background-color 100ms ease-in;
}
#projets article .card-wrapper .card:nth-child(1) {
  animation-delay: 50ms;
}
#projets article .card-wrapper .card:nth-child(2) {
  animation-delay: 200ms;
}
#projets article .card-wrapper .card:nth-child(3) {
  animation-delay: 400ms;
}
#projets article .card-wrapper .card:nth-child(4) {
  animation-delay: 600ms;
}
#projets article .card-wrapper .card:nth-child(5) {
  animation-delay: 800ms;
}
#projets article .card-wrapper .card:visited {
  color: #051E44;
}
#projets article .card-wrapper .card img {
  width: 100%;
  padding-bottom: 3rem;
  border-top: 1px solid rgba(5, 30, 68, 0.1);
  border-bottom: 1px solid rgba(5, 30, 68, 0.537254902);
  border-radius: 0 0 20px 20px;
  object-fit: contain;
}
#projets article .card-wrapper .card p {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0 1rem 0 1rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9137254902), rgba(0, 0, 0, 0.6235294118));
  color: rgba(245, 245, 245, 0.922);
  box-shadow: 0px -5px 3px rgba(0, 0, 0, 0.3176470588);
  border-radius: 0 0 20px 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
#projets article .card-wrapper .card p:hover {
  cursor: pointer;
}

#info {
  height: 70vh;
}
#info #about {
  display: flex;
  max-width: 90%;
  height: 100%;
  margin: 1rem auto auto auto;
}
#info #about .about-text {
  margin: auto;
  width: 50%;
  padding: 0 6rem 0 6rem;
  text-align: justify;
}
#info #about aside {
  background: url("../assets/img.jpg");
  width: 50%;
}

footer {
  display: flex;
  justify-content: center;
}
footer :nth-child(n) {
  width: 50px;
  margin: 1rem;
}

.active {
  color: #b91212;
}

@media screen and (max-width: 1024px) {
  #projets article .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  header nav a {
    display: none;
  }
  header nav.responsive .navbar-container {
    flex-direction: column;
    max-width: max-content;
    position: absolute;
    right: 0;
    top: 6rem;
  }
  header nav.responsive .navbar-container a {
    display: block;
    text-align: left;
    background-color: white;
    padding: 1rem;
    border-bottom: 1px solid #051E44;
  }
  header nav span {
    display: block;
    right: 2rem;
    top: 1.5rem;
  }
  header nav span:hover {
    background-color: #051E44;
    color: white;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  }
  #projets article .card-wrapper {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 325px) {
  .logo {
    opacity: 0;
  }
}
@keyframes faded {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
