header {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
header img {
  width: 250px;
  height: 70px;
  margin-left: 1rem;
}
header nav {
  width: 30%;
  height: auto;
}
header nav .navbar-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
header nav span {
  display: none;
  position: absolute;
  padding: 0.6rem;
  border-radius: 10px;
}
header nav span i {
  font-size: x-large;
}
header nav a {
  font-size: larger;
  text-decoration: underline rgba(0, 0, 0, 0);
  text-underline-offset: 0px;
  color: #051E44;
}
header nav a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
  color: #b91212;
  transition: all 250ms linear;
}

#root {
  position: relative;
}

.carousel-p {
  width: 90%;
  margin: auto;
}
.carousel-p img {
  width: 100%;
  max-height: 400px;
  background-color: rgba(0, 0, 0, 0.3);
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
}

#home, #info, #contacts {
  background-color: #051E44;
  color: #FFFFFF;
  text-align: center;
}
#home h1, #info h1, #contacts h1 {
  font-size: x-large;
  margin: 0;
  padding: 0.5rem;
}

#projets {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
#projets article {
  border: 2px solid rgba(255, 255, 255, 0.7254901961);
  width: 95%;
  border-radius: 20px;
  padding: 1rem;
  color: #051E44;
  background-color: #ECECEC;
  animation: faded 300ms ease-in;
}
#projets article .card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
#projets article .card-wrapper .card {
  width: 100%;
  background-color: #051E44;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, 0.2);
  border: 1px solid rgba(5, 30, 68, 0.537254902);
  border-radius: 20px;
  max-width: 500px;
  opacity: 0;
  animation: faded 250ms ease-in-out forwards;
  scale: 0.96;
  margin: auto;
}
#projets article .card-wrapper .card a {
  color: #051E44;
  text-decoration: none;
}
#projets article .card-wrapper .card a .background-image {
  border-radius: 0 0 20px 20px;
  height: 18rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
#projets article .card-wrapper .card h3 {
  margin: 0.5rem;
  color: white;
}
#projets article .card-wrapper .card:hover {
  scale: 1;
  background-color: #25406D;
  transition: scale 200ms ease-in, background-color 100ms ease-in;
}
#projets article .card-wrapper .card:nth-child(1) {
  animation-delay: 50ms;
}
#projets article .card-wrapper .card:nth-child(2) {
  animation-delay: 200ms;
}
#projets article .card-wrapper .card:nth-child(3) {
  animation-delay: 400ms;
}
#projets article .card-wrapper .card:nth-child(4) {
  animation-delay: 600ms;
}
#projets article .card-wrapper .card:nth-child(5) {
  animation-delay: 800ms;
}
#projets article .card-wrapper .card:visited {
  color: #051E44;
}
#projets article .card-wrapper .card img {
  width: 100%;
  padding-bottom: 3rem;
  border-top: 1px solid rgba(5, 30, 68, 0.1);
  border-bottom: 1px solid rgba(5, 30, 68, 0.537254902);
  border-radius: 0 0 20px 20px;
  object-fit: contain;
}
#projets article .card-wrapper .card p {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0 1rem 0 1rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9137254902), rgba(0, 0, 0, 0.6235294118));
  color: rgba(245, 245, 245, 0.922);
  box-shadow: 0px -5px 3px rgba(0, 0, 0, 0.3176470588);
  border-radius: 0 0 20px 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
#projets article .card-wrapper .card p:hover {
  cursor: pointer;
}

#info #about {
  display: flex;
  max-width: 90%;
  height: 78vh;
  margin: auto;
}
#info #about .about-text {
  margin: auto;
  width: 50%;
  padding: 0 4rem 0 4rem;
  text-align: justify;
  animation: infoAnimation 500ms ease-in-out;
}
#info #about aside {
  background: url("../assets/Alessandro_Cavaliere_foto.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
  animation: photoAnimation 500ms ease-in-out;
}

#contacts {
  height: 78vh;
}
#contacts .contacts-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  height: 100%;
  animation: faded 250ms linear;
}
#contacts .contacts-container ul {
  animation: faded 250ms linear;
}
#contacts .contacts-container ul li {
  padding: 1rem 1rem 1rem 0;
  width: fit-content;
  margin: auto;
  list-style-type: none;
}
#contacts .contacts-container ul li a {
  text-decoration: none;
  color: white;
}
#contacts .contacts-container ul li span {
  margin-right: 1rem;
}
#contacts .contacts-container .item-email {
  text-decoration: underline;
  text-underline-offset: 2rem;
}
#contacts .contacts-container .item-email a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
}

footer {
  background-color: white;
  position: absolute;
  bottom: -5rem;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer :nth-child(n) svg {
  width: 40px;
  height: 40px;
  padding: 1rem;
  scale: 0.9;
}

.active {
  color: #b91212;
}

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #051E44;
  z-index: 9999;
}
.loader .loader-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader .loader-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loaderAnimation 1.4s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.loader .loader-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader .loader-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader .loader-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@media screen and (max-width: 1024px) {
  #projets article .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  #info #about {
    overflow: auto;
  }
}
@media screen and (max-width: 800px) {
  header nav a {
    display: none;
  }
  header nav.responsive .navbar-container {
    flex-direction: column;
    max-width: max-content;
    position: absolute;
    right: 0;
    top: 6rem;
    transform: scale(1);
    transition: transform 250ms ease-in-out;
    z-index: 99999;
  }
  header nav.responsive .navbar-container a {
    display: block;
    text-align: left;
    background-color: white;
    padding: 1rem;
    border-bottom: 1px solid #051E44;
    z-index: 9999;
  }
  header nav span {
    display: block;
    right: 2rem;
    top: 1.5rem;
  }
  #info {
    overflow: auto;
  }
  #info #about .about-text {
    width: 100%;
    padding: 1rem;
  }
  #info #about aside {
    display: none;
  }
  #projets article .card-wrapper {
    grid-template-columns: 1fr;
    margin: auto;
  }
  #contacts .contacts-container .item-email a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 325px) {
  .logo {
    opacity: 0;
  }
  #contacts .contacts-container .item-email a {
    font-size: 1rem;
  }
}
@keyframes faded {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes infoAnimation {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes photoAnimation {
  from {
    opacity: 0;
    transform: scale(0.25);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes loaderAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
