header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    & img{
        max-width: 250px;
    }
    & .foto{
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin-left: 2rem;
        
    }
    & .logo{
        margin-top: 1.5rem;
        margin-left: 1rem;
    }
    & nav{
        display: flex;
        & span{
            display: none;
            position: absolute;
            padding: 1rem;
            border-radius: 20px;
            & i{
                font-size: x-large;
            }
        }
        & a{
            margin-right: 4rem;
            font-size: larger;
            text-decoration: underline rgba($color: #000000, $alpha: 0);
            text-underline-offset: 0px;
            color: #051E44;
            &:hover{
                text-decoration: underline;
                text-underline-offset: 8px;
                color: #b91212;
                transition: all 250ms linear;
            }
        }
    }
}
#home{
    min-height: 70vh;
    background-color: #051E44;
    color: #FFFFFF;
    text-align: center;
    margin-top: -20px;
}
section{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    margin: 2rem;
    & article{
        width: 90vw;
        border: 2px solid #ffffffb9;
        border-radius: 20px;
        padding: 1rem;
        color: #051E44;
        background-color: #ECECEC;
        animation: faded 300ms ease-in;
        & .card-wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 20px;
            row-gap: 20px;
            & a{
                color: #051E44;
                text-decoration: none;
            }
            & .card{
                position: relative;
                height: 20rem;
                box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, .2);
                border: 1px solid #051e4489;
                border-radius: 20px;
                opacity: 0;
                animation: faded 250ms ease-in-out forwards;
                scale: 0.96;
                &:hover{
                    scale: 1;
                    transition: scale 200ms ease-in;
                }
                &:nth-child(1){
                    animation-delay: 50ms;
                }
                &:nth-child(2){
                    animation-delay: 200ms;
                }
                &:nth-child(3){
                    animation-delay: 400ms;
                }
                &:nth-child(4){
                    animation-delay: 600ms;
                }
                &:nth-child(5){
                    animation-delay: 800ms;
                }
                &:visited{
                    color: #051E44;
                }
                & img{
                    width: 100%;
                    height: 81%;
                    border-bottom: 1px solid #051e4489;
                    border-radius: 0 0 20px 20px;
                    object-fit: cover;
                }
                & p{
                    position: absolute;
                    bottom: 0;
                    margin: 0;
                    background: linear-gradient(to bottom, #00000051, #00000000);
                    box-shadow: 0px -5px 3px #00000051;
                    border-radius: 0 0 20px 20px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                    &:hover{
                        cursor: pointer;
                    }
                }
                
            }
        }
    }
}
footer{
    display: flex;
    justify-content: center;
    & :nth-child(n){
        width: 50px;
        margin: 1rem;
    }
}
.active{
    color: #b91212;
}

@media screen and (max-width:1024px) {
    section article .card-wrapper{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media screen and (max-width:768px) {
    header{
        & nav {
            & a{
                display: none;
            }
        }
        & nav.responsive{
            & a{
                display: block;
                background-color: white;
                padding: 1rem;
                transform: translateY(180%);
                border-bottom: 1px solid #051E44;
            }
            & span {
                top: 1.5rem;
            }
        }
        & nav span{
            display: block;
            right: 2rem;
            top: 1.5rem;
            &:hover{
                background-color: #051E44;
                color: white;
                transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
            }
        }
    }

    section article .card-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

@keyframes faded {
    from {
        opacity: 0;
        transform: translateY(-5%)
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}